<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luyat.demo.dao.DemoUserMapper" >
	<select id="dataByWhere" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM upms_user
		WHERE 1=1
		<if test="sqlWhere != null and '' != sqlWhere"><![CDATA[${sqlWhere}]]></if>
	    ORDER BY ${sidx} ${sord}    
	    <if test="limit != null">
	    	<if test="offset != null">limit ${offset}, ${limit}</if><if test="offset == null">limit ${limit}</if>
		</if> 
	</select>
	<select id="countByWhere" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM upms_user
		WHERE 1=1
	    <if test="sqlWhere != null and '' != sqlWhere"><![CDATA[${sqlWhere}]]></if>
	</select>
	<update id="updateData" parameterType="java.util.Map">
	    UPDATE upms_user t SET
		<if test="username  != null and '' != username"><![CDATA[t.`username`= #{username},]]></if>
		<if test="realname  != null and '' != realname"><![CDATA[t.`realname`= #{realname},]]></if>
		<if test="avatar  != null and '' != avatar"><![CDATA[t.`avatar`= #{avatar},]]></if>
		<if test="phone  != null and '' != phone"><![CDATA[t.`phone`= #{phone},]]></if>
		<if test="email  != null and '' != email"><![CDATA[t.`email`= #{email},]]></if>
		<if test="sex  != null and '' != sex"><![CDATA[t.`sex`= #{sex},]]></if>
		<if test="locked  != null and '' != locked"><![CDATA[t.`locked`= #{locked},]]></if>
		t.`updatedate`     = NOW()
		WHERE t.`user_id` = #{user_id}
	</update>
	<insert id="insertData" parameterType="java.util.Map">
		INSERT INTO upms_user(username,password,realname,avatar,phone,email,sex,locked,createdate)
		VALUES(#{username},#{password},#{realname},#{avatar},#{phone},#{email},#{sex},#{locked},NOW())
	</insert>
	<delete id="deleteData" parameterType="java.util.Map">
		DELETE FROM upms_user WHERE user_id = #{user_id}
	</delete>
	<select id="selectRoleCombox" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT t.`role_id` AS CODE,t.`name` AS TEXT FROM upms_role t
	</select>
</mapper>