<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Gentelella Alela! | </title>
    <link href="/plugs/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="/plugs/bootstrapFonts/font-awesome.css" rel="stylesheet"/>
    <link href="/plugs/bootstrapNprogress/nprogress.css" rel="stylesheet"/>
    <link href="/plugs/bootstrapProgressbar/bootstrap-progressbar-3.3.4.css" rel="stylesheet"/>
    <link href="/assets/css/luyat-custom.css" rel="stylesheet"/>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/assets/images/img.jpg" alt="..." class="img-circle profile_img"/>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                    	<a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
	                    <ul class="nav child_menu">
	                      <li><a href="index.html">Dashboard</a></li>
	                    </ul>
	               	</li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right"></ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <iframe id="J_iframe" width="100%" src="" frameborder="0"></iframe>
        </div>
        <!-- page content -->
      </div>
    </div>
    <script src="/plugs/bootstrap/jquery.js"></script>
    <script src="/plugs/bootstrap/bootstrap.js"></script>
    <script src="/plugs/bootstrapFastclick/fastclick.js"></script>
    <script src="/plugs/bootstrapNprogress/nprogress.js"></script>
    <script src="/plugs/bootstrapProgressbar/bootstrap-progressbar.js"></script>
    <script src="/js/luyat-custom.js"></script>
    <script type="text/javascript">
    function changeFrameHeight(){
        var ifm= document.getElementById("J_iframe"); 
        ifm.height=document.documentElement.clientHeight-120;
    }
    $("#J_iframe").load(function () {changeFrameHeight();});
    window.onresize=function(){changeFrameHeight();} 	
    </script>
  </body>
</html>
